@model InvoicesProject.Models.NWC_Invoice



<h1>تعديل</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NWC_InvoiceID" />
            <div class="form-group">
                <label asp-for="NWC_Invoice_Year" class="control-label"></label>
                <input asp-for="NWC_Invoice_Year" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Rreal_Estate_TypeID" class="control-label"></label>
                <input asp-for="NWC_Rreal_Estate_TypeID" class="form-control" />
                <span asp-validation-for="NWC_Rreal_Estate_TypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Subscription_FileID" class="control-label"></label>
                <select asp-for="NWC_Subscription_FileID" class="form-control" asp-items="ViewBag.NWC_Subscription_FileID"></select>
                <span asp-validation-for="NWC_Subscription_FileID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Subscriber_FileID" class="control-label"></label>
                <select asp-for="NWC_Subscriber_FileID" class="form-control" asp-items="ViewBag.NWC_Subscriber_FileID"></select>
                <span asp-validation-for="NWC_Subscriber_FileID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Date" class="control-label"></label>
                <input asp-for="NWC_Invoice_Date" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_From" class="control-label"></label>
                <input asp-for="NWC_Invoice_From" class="form-control" />
                <span asp-validation-for="NWC_Invoice_From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_To" class="control-label"></label>
                <input asp-for="NWC_Invoice_To" class="form-control" />
                <span asp-validation-for="NWC_Invoice_To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Previous_Consumption_Amount" class="control-label"></label>
                <input asp-for="NWC_Invoice_Previous_Consumption_Amount" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Previous_Consumption_Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Current_Consumption_Amount" class="control-label"></label>
                <input asp-for="NWC_Invoice_Current_Consumption_Amount" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Current_Consumption_Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Amount_Consumption" class="control-label"></label>
                <input asp-for="NWC_Invoice_Amount_Consumption" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Amount_Consumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Service_Fee" class="control-label"></label>
                <input asp-for="NWC_Invoice_Service_Fee" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Service_Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Tax_Rate" class="control-label"></label>
                <input asp-for="NWC_Invoice_Tax_Rate" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Tax_Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Is_There_Sanitation" class="control-label"></label>
                <input asp-for="NWC_Invoice_Is_There_Sanitation" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Is_There_Sanitation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Consumption_Value" class="control-label"></label>
                <input asp-for="NWC_Invoice_Consumption_Value" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Consumption_Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Wastewater_Consumption_Value" class="control-label"></label>
                <input asp-for="NWC_Invoice_Wastewater_Consumption_Value" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Wastewater_Consumption_Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Total_Invoice" class="control-label"></label>
                <input asp-for="NWC_Invoice_Total_Invoice" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Total_Invoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Tax_Value" class="control-label"></label>
                <input asp-for="NWC_Invoice_Tax_Value" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Tax_Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Total_Bill" class="control-label"></label>
                <input asp-for="NWC_Invoice_Total_Bill" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Total_Bill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWC_Invoice_Total_Reasons" class="control-label"></label>
                <input asp-for="NWC_Invoice_Total_Reasons" class="form-control" />
                <span asp-validation-for="NWC_Invoice_Total_Reasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">قائمة الفواتير</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
